@page "/categories"
@using Model.Entities;
@using ProjektTNAI.Repository.Abstract;
@inject ICategoryRepository categoryRepository


<h1>Categories</h1>
<AuthorizeView Roles="Admin">
<div class="row">
    <div class="col-md-6">
        <a href='/category/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Category
        </a>
    </div>
</div>
</AuthorizeView>
<br />
@if (categoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categoryList)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <AuthorizeView Roles="Admin">
                    <td>                       
                        <a href='/category/edit/@category.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/category/delete/@category.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<Category>? categoryList;
    protected Category category = new Category();
    protected override async Task OnInitializedAsync()
    {
        categoryList = await categoryRepository.GetAllCategoriesAsync();
    }
    
}